[Unit]
Description=Autonoma API Worker

[Service]
ExecStart=python3 /home/autonoma/Autonoma/backend --%I --env production
WorkingDirectory=/home/autonoma/Autonoma/backend
Restart=always
# Restart service after 10 seconds if python service crashes
RestartSec=10
# Output to syslog
StandardOutput=journal
StandardError=journal
SyslogIdentifier=autonoma
User=autonoma
Group=autonoma

[Install]
WantedBy=multi-user.target
