[Unit]
Description=SpotifyPlaylister API Worker

[Service]
ExecStart=python3 /home/www/SpotifyPlaylister/backend --%I --env production
WorkingDirectory=/home/www/SpotifyPlaylister/backend
Restart=always
# Restart service after 10 seconds if python service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=spotify-playlister
User=www
Group=www

[Install]
WantedBy=multi-user.target
