[Unit]
Description=SpotifyPlaylister Express.js Server

[Service]
ExecStart=/usr/bin/node /home/www/SpotifyPlaylister/backend/server.js
WorkingDirectory=/home/www/SpotifyPlaylister/backend
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=spotify-playlister
User=www
Group=www
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
